@import 'src/scss/lib';

.not-found-container {
  padding-bottom: 7em;
  padding-top: 7em;
}

.container {
  padding: 1.2em;
}

.user-container {
  display: flex;
}

.user-info {
  align-items: flex-start;
  color: $color-text-primary;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin-left: 8px;
}

.task-time {
  color: $color-text-dim2;
  font-size: 10px;
  margin-top: 3px;
}

.user-logo {
  $size: 28px;
  background: $color-text-dim3;
  border-radius: 50%;
  color: $color-input-text;
  height: $size;
  width: $size;
}

.activites {
  border: 1px solid $color-boundary;
  border-radius: 8px;
  margin-left: 2em;
  margin-top: 1.5em;
  min-width: 55%;
  width: 60%;
}

.task-body {
  border-top: 1px solid $color-boundary;
  color: $color-text-dim2;
  font-size: 13px;
  padding: 0.3em;
  width: 100%;
}

.task-row {
  align-items: center;
  display: flex;
  height: 36px;
  justify-content: space-between;
}

.row-left-container {
  align-items: center;
  display: flex;
  width: 70%;
}

.task-issue {
  @extend %handle-text-overflow;

  margin-right: 15px;
  text-align: center;
  width: 5em;
}

.row-item {
  color: $color-text-dim2;
  cursor: pointer;
  margin-right: 15px;
  width: 16px;
}

.row-item-icon {
  $size: 20px;

  height: $size;
  width: $size;
}

.done-icon {
  color: $color-cta;
}

.row-status-item {
  border: 0;
  height: auto;
  margin-right: 15px;
  padding: 0;
  width: auto;
}

.task-title {
  @extend %handle-text-overflow;

  color: $color-text-bright1;
  text-align: left;
  width: 35%;
}

.deleted-row {
  @extend %handle-text-overflow;

  text-align: left;
  text-decoration: line-through;
  width: 35%;
}

.row-right-container {
  align-items: center;
  color: $color-cta;
  display: flex;
  justify-content: flex-end;
  width: 30%;
}

.pr-container {
  border: 1px solid $color-boundary;
  border-radius: 48px;
  box-sizing: border-box;
  color: $color-text-dim2;
  display: flex;
  font-size: 12px;
  height: 26px;
  margin-right: 1em;
  max-width: 35%;
  padding: 5px;
  position: relative;
  text-align: right;
}

.pr-text {
  @extend %handle-text-overflow;
  width: 70%;
}

.pr-icon {
  $size: 14px;

  color: $color-cta;
  height: $size;
  margin-right: 5px;
  min-width: $size;
}

.row-date {
  @extend %handle-text-overflow;

  color: $color-text-dim2;
  margin-right: 15px;
  text-align: left;
  width: 6em;

  @media(max-width: $md) {
    width: 4em;
  }

  @media(max-width: $sm) {
    display: none;
  }

}

.fallback-logo {
  $size: 20px;
  background: $color-text-dim3;
  border-radius: 50%;
  color: $color-input-text;
  font-size: 9px;
  height: $size;
  margin-right: 1.5em;
  width: $size;
}

%selectbox-item-icon {
  $size: 16px;

  height: $size;
  width: $size;
}

.selectbox-item-icon {
  @extend %selectbox-item-icon;
}

.selectbox-item-todo-icon {
  @extend %selectbox-item-icon;

  color: $color-cta;
}

.pagination-container {
  display: flex;
  justify-content: flex-end;
  margin-left: 3em;
  margin-top: 2em;
  width: 59%;
}

.pagination-button {
  background: $color-button-bg;
  border: 0;
  border-radius: 4px;
  color: $color-button-text;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 13px;
  height: 40px;
  outline: none;
  padding: 0 2em;
  transition: all 0.2s;

  &:disabled {
    color: $color-text-dim2;
    cursor: default;
  }
}
