@import 'src/scss/lib';

.input-field-container{
  position: relative;
  background: none;
  border-radius: 4px;
  border: 1px solid $color-button-border;
  font-weight: 400;
  color: $color-text-dim2;
  transition: all 0.2s;
  outline: none;
  padding: 10px;
  width: 100%;
  box-shadow: none;
  height: 40px;

  &.has-error {
    background: $color-error-bg;
  }
}

.select-container{
  cursor: pointer;
}

.select-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: transparent;
}

.select-options {
  position: absolute;
  width: 100%;right: 0;
  top: 2.9em;
}

.select-option {
  list-style-type: none;
  padding: 12px 20px;
  background: $color-boundary;
  // border-bottom: 1px solid $color-button-border;
  cursor: pointer;
  font-size: 1em;

  &:hover {
    background-color: $color-select-active;
    color: $color-button-text;
  }
}

.error-icon {
  $width: 20px;

  position: absolute;
  width: $width;
  height: $width;
  top: calc(50% - 10px);
  right: 8px;
  color: $color-error-border;
}
