@import 'src/scss/lib';

.input-field-container {
  background: none;
  border: 1px solid $color-button-border;
  border-radius: 4px;
  box-shadow: none;
  color: $color-text-dim2;
  font-weight: 400;
  height: 40px;
  outline: none;
  padding: 10px;
  position: relative;
  transition: all 0.2s;
  width: 100%;

  &.has-error {
    background: $color-error-bg;
  }
}

.select-container {
  cursor: pointer;
}

.select-backdrop {
  background: transparent;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.select-options {
  position: absolute;
  right: 0;
  top: 2.9em;
  width: 100%;
}

.select-option {
  background: $color-boundary;
  // border-bottom: 1px solid $color-button-border;
  cursor: pointer;
  font-size: 1em;
  list-style-type: none;
  padding: 12px 20px;

  &:hover {
    background-color: $color-select-active;
    color: $color-button-text;
  }
}

.error-icon {

  @extend %error-icon-outer;
  top: calc(50% - 10px);
}
