@import 'src/scss/lib';

.form {
  display: flex;
  font: inherit;
  max-width: 90vw;
  min-height: 17em;
  padding: 46px;
  position: relative;

  @media(max-width: $sm) {
    flex-direction: column;
  }

  &.step1 {
    height: 17em;
  }

  &.step2 {
    height: 20em;
  }

  &.has-error {
    background: $color-error-bg;
  }
}

.back-icon-container {
  color: $color-text-dim2;
  cursor: pointer;
  height: 30px;
  left: 20px;
  position: absolute;
  top: 55%;
  width: 30px;

  &.step1 {
    display: none;
  }

  @media(max-width: $md) {
    top: 65%;
  }
}

.back-icon {
  height: 30px;
  width: 30px;
}

.2-step-swiper {
  display: flex;
  left: 0;
  position: absolute;
  transition: all 100ms linear;
  width: 200%;

  &.step1 {
    height: 2.6em;
    left: 0;
  }

  &.step2 {
    left: -100%;
  }
}

.fields-container {
  margin: 0 16px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.password-container {
  align-items: center;
  display: flex;
  width: 100%;
}

.password-fields {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  > * {
    margin-bottom: 1em;
    width: 100%;
  }
}

.button {
  background: $color-button-cta-bg;
  border: 0;
  border-radius: 4px;
  color: $color-button-text;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  margin-bottom: 32px;
  outline: none;
  transition: all 0.2s;
  width: 300px;
}

.form-title {
  color: $color-text-primary;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 6px;
  text-align: center;
}

.form-text {
  color: $color-text-dim1;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 32px;
  text-align: center;
}

.working {
  span {
    @extend %working;
    position: absolute;
  }
}
