@import 'src/scss/lib';

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.sidebar {
  width: 220px;
  position: relative;
  border-right: 1px solid $color-button-bg;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin: 9px 21px 0px 20px;
  display: flex;
  align-items: center;
  width: 179px;
}

.dotMenuIcon {
  width: 22px;
  height: 22px;
  margin-left: 12px;
  color: $color-text-dim2;
  cursor: pointer;
}

.detail {
  align-items: center;
}

.logoImage {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.picContainer {
  margin-left: auto;
  width: 18px;
  height: 18px;
  display: flex;
  flex-direction: row-reverse;

  .pic {
    border-radius: 50%;
  }

  .onlineStatus {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background: $color-online;
    border: 1px solid $color-bg-dark;
    position: absolute;
    align-self: flex-end;
    margin-top: 1px;
    margin-left: 1px;
  }
}

.footer {
  display: flex;
  margin-bottom: 24px;
  cursor: pointer;
  margin-top: auto;
}

.feedbackIcon {
  background: url('/assets/images/feedback-icon.svg') 0 0 no-repeat;
  width: 12px;
  height: 12px;
  margin-right: 8px;
}

.feedbackText {
  border: none;
  background-color: transparent;
  color: $color-text-primary;
  justify-self: flex-end;
  line-height: 10px;
  font-size: 12px;

  &:hover {
    color: $color-text-bright1;
  }
}
