@import 'src/scss/lib';

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.not-found-container {
  padding-bottom: 7em;
  padding-top: 7em;
}

.add-button {
  $size: 28px;
  @extend %button-primary;

  align-items: center;
  display: flex;
  height: $size;
  justify-content: center;
  padding: 0;
  width: $size;

  .icon {
    height: 1.2em;
    width: 1.2em;
  }
}

.container {
  width: 100%;
}

.todays-commitments {
  border-bottom: 1px solid $color-boundary;
  min-height: 185px;
}

.commitments-body {
  border: 1px solid $color-boundary;
  color: $color-text-bright1;
  font-size: 13px;
  padding: 0 24px;
  width: 100%;
}

.status-row {
  align-items: center;
  display: flex;
  height: 36px;
  justify-content: space-between;
}

.status-row-left {
  display: flex;
  justify-content: space-between;
  width: 12em;
}

.row-item {
  color: $color-text-dim2;
}

.status-row-right {
  color: $color-cta;
}

.team-activity {
  color: $color-text-bright1;
  font-size: 13px;
  margin-top: 10px;
  padding: 0 24px;
  width: 100%;
}

.activity-header {
  align-items: center;
  display: flex;
  height: 56px;
}

.activity-filter {
  border: 1px dashed $color-text-dim2;
  border-radius: 4px;
  box-sizing: border-box;
  color: $color-text-dim3;
  height: 24px;
  margin-left: 10px;
  padding: 3px;
  width: 58px;
}

// add status header

.add-todays-status {
  color: $color-text-dim2;
  font-size: 13px;
}

.status-header-container {
  align-items: center;
  border-bottom: 1px solid $color-boundary;
  display: flex;
  height: 56px;
  justify-content: space-between;
}

.add-buttons {
  display: flex;
  justify-content: space-between;
  width: 10em;
}

%slide-bar-button {
  color: $color-text-dim2;
  cursor: pointer;
  font-size: 13px;
  padding: 7px;
}

.slide-bar-button {
  @extend %slide-bar-button;

  background: $color-button-bg;
  border: 1px solid $color-button-border;
  border-radius: 4px;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  color: $color-text-primary;
  width: 5em;
}

.cancel-button {
  @extend %slide-bar-button;
}

// add status

.add-status-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
  width: 100%;
}

.add-status-row {
  position: relative;
}

.add-status {
  background: $color-bg-dark;
  border: 1px solid $color-input-border;
  border-radius: 4px;
  box-sizing: border-box;
  color: $color-text-dim2;
  height: 40px;
  padding: 15px;
  width: 537px;
}

.enter-icon-container {
  align-items: center;
  background: $color-boundary;
  border: 1px solid $color-button-border;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  height: 28px;
  justify-content: center;
  opacity: 0.4;
  position: absolute;
  right: 8px;
  top: 5px;
  width: 28px;
}

.add-row-items {
  color: $color-text-dim2;
  display: flex;
  font-size: 13px;
  justify-content: start;
  margin-top: 10px;
}

.add-status-item {
  align-items: center;
  display: flex;
  margin-right: 6px;
  width: 78px;
}

.add-issue {
  background: $color-bg-secondary;
  border: 0;
  border-radius: 4px;
  color: $color-text-dim2;
  font-size: 13px;
  height: 20px;
  width: 59px;
}

.add-item-icon {
  $size: 14px;

  height: $size;
  margin-right: 5px;
  width: $size;
}

.add-item-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.add-status-user {
  color: $color-text-primary;
}
