@import 'src/scss/lib';

.org-container {

  @extend %animate;
  animation-delay: 0.6s;
  animation-name: undim-sliding-down;
  color: $color-text-dim2;
  display: flex;
  flex-direction: column;

}

.org-icon {
  background: url('/assets/images/org.svg') 0 0 no-repeat;
  background-size: contain;
  height: 45px;
  margin: 0 auto;
  margin-bottom: 1em;
  width: 45px;
}

.org-add {
  color: $color-cta;
  margin-top: 1em;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.org-form {
  display: grid;
  font: inherit;
  grid-auto-rows: minmax(2em, auto);
  grid-column-gap: 15px;
  grid-row-gap: 2em;
  grid-template-columns: 25% 1fr;
  max-width: 90vw;
  padding: 15px;
  position: relative;
  width: 700px;

  @media(max-width: $sm) {
    flex-direction: column;
  }

  &.has-error {
    background: $color-error-bg;
  }
}

.title {
  color: $color-text-bright1;
  grid-column: 1/3;
  grid-row: 1;
  margin-bottom: 0.5em;
  text-align: left;
}

.wrapper {
  display: grid;
  grid-row-gap: 7px;
}

.name-wrapper {
  grid-column: 1/3;
  grid-row: 2;
  position: relative;
}

.field-title {
  color: $color-text-dim2;
  text-align: left;
}

.image-wrapper-logo {
  grid-column: 1;
  grid-row: 3;
}

.image-wrapper-banner {
  grid-column: 2;
  grid-row: 3;
}

.input-file {
  cursor: pointer;
  height: 100%;
  opacity: 0;
  width: 100%;
}

.button-wrapper {
  display: grid;
  grid-column: 1;
  grid-row: 4;
  justify-content: flex-start;
}

.save-button {
  background: $color-button-cta-bg;
  border: 0;
  border-radius: 4px;
  color: $color-button-text;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 14px;
  font-weight: 600;
  height: 48px;
  outline: none;
  padding: 0 4em;
  transition: all 0.2s;
}
