@import 'src/scss/lib';

.not-found-container {
  padding-bottom: 7em;
  padding-top: 7em;
}

.task-body {
  border-top: 1px solid $color-boundary;
  color: $color-text-dim2;
  font-size: 13px;
  padding: 0 24px;
  width: 100%;
}

.task-row {
  align-items: center;
  display: flex;
  height: 36px;
  justify-content: space-between;
}

.row-left-container {
  align-items: center;
  display: flex;
  width: 80%;
}

.task-issue {
  @extend %handle-text-overflow;

  cursor: pointer;
  margin-right: 15px;
  text-align: center;
  width: 5em;
}

.row-item {
  color: $color-text-dim2;
  cursor: pointer;
  margin-right: 15px;
  width: 16px;
}

.row-item-icon {
  $size: 20px;

  height: $size;
  width: $size;
}

.done-icon {
  color: $color-cta;
}

.row-status-item {
  border: 0;
  cursor: pointer;
  height: auto;
  margin-right: 15px;
  padding: 0;
  width: auto;
}

.task-title {
  color: $color-text-bright1;
  text-align: left;
  width: 40%;
}

.row-right-container {
  align-items: center;
  color: $color-cta;
  display: flex;
}

.pr-container {
  border: 1px solid $color-boundary;
  border-radius: 48px;
  box-sizing: border-box;
  color: $color-text-dim2;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  height: 26px;
  margin-right: 1em;
  min-width: 60px;
  padding: 5px;
  position: relative;
  text-align: right;
}

.pr-icon {
  $size: 14px;

  color: $color-cta;
  height: $size;
  margin-right: 5px;
  width: $size;
}

.row-date {
  @extend %handle-text-overflow;

  color: $color-text-dim2;
  margin-right: 15px;
  text-align: left;
  width: 6em;
}

.fallback-logo {
  $size: 18px;
  background: $color-text-dim3;
  border-radius: 50%;
  color: $color-input-text;
  font-size: 9px;
  height: $size;
  margin-right: 1.5em;
  width: $size;
}

%selectbox-item-icon {
  $size: 16px;

  height: $size;
  width: $size;
}

.selectbox-item-icon {
  @extend %selectbox-item-icon;
}

.selectbox-item-todo-icon {
  @extend %selectbox-item-icon;

  color: $color-cta;
}

.skeleton {
  .tasks-body {
    width: 100%;
  }

  .row-left-container {
    @include bone;

    .row-item {
      visibility: hidden;
    }

    .row-status-item {
      display: none;
    }

  }

  .row-right-container {
    @include bone;

    height: 16px;

    .pr-container {
      visibility: hidden;
    }

    .fallback-logo {
      visibility: hidden;
    }
  }
}
