@import 'src/scss/lib';

.input-file {
  cursor: pointer;
  height: 100%;
  opacity: 0;
  position: relative;
  width: 100%;
  z-index: 1;
}

.preview-image {
  cursor: pointer;
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.upload-container {
  bottom: 0;
  display: grid;
  grid-row-gap: 1px;
  grid-template-columns: 1fr;
  grid-template-rows: 2em 1.1em;
  height: 60px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.upload-icon {
  $width: 1.6em;
  grid-row: 1;
  grid-column: 1;

  width:$width;
  height: $width;
  cursor: pointer;
  margin: auto;
  color: $color-text-dim2;
  width: $width;
}

.upload-text {
  color: $color-text-dim2;
  font-size: 0.8em;
  grid-column: 1;
  grid-row: 2;
}

.org-logo {
  @extend .org-image-container;
  width: 10em;
}

.org-image-container {
  background-color: $color-button-bg;
  border: 1px solid $color-button-border;
  border-radius: 3px;
  height: 10em;
  position: relative;

  &.has-error {
    background: $color-error-bg;
  }
}

.error-icon {
  $width: 20px;

  position: absolute;
  width: $width;
  height: $width;

  position: absolute;
  right: 8px;
  top: 5%;
  width: $width;
  z-index: 1;
  color: $color-error-border;
}
