@import 'src/scss/lib';

.input-file{
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  position:relative;
  z-index: 1;
}

.preview-image {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  position:absolute;
  cursor: pointer;
  object-fit: cover;
}

.upload-container{
  height: 60px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  display: grid;
  grid-row-gap: 1px;
  grid-template-columns: 1fr;
  grid-template-rows: 2em 1.1em;
  z-index: 0;
}

.upload-icon{
  $width: 1.6em;

  grid-row: 1;
  grid-column: 1;

  width:$width;
  background: url('/assets/images/upload.svg');
  height: $width;
  background-size: $width;
  background-repeat: no-repeat;
  cursor: pointer;

  margin: auto;
  }

.upload-text{
  grid-row: 2;
  grid-column: 1;
  color: $color-text-dim2;
  font-size: 0.8em;
}

.org-logo{
  width: 10em;
  @extend .org-image-container;
}

.org-image-container{
  position: relative;
  background-color: $color-button-bg;
  border: 1px solid $color-button-border;
  height: 10em;
  border-radius: 3px;

  &.has-error {
    background: $color-error-bg;
  }
}

.error-icon {
  $width: 20px;

  position: absolute;
  width: $width;
  background: url('/assets/images/info-error.svg');
  background-size: $width;
  height: $width;
  top: 5%;
  right: 8px;
  z-index: 1;
}
