@import 'src/scss/lib';

.employee-list-container {
  color: $color-text-dim2;
  margin-top: 7em;
  padding: 20px;
  width: 90%;

  @media(max-width: $md) {
    margin-top: 100px;
  }

  @media(max-width: $sm) {
    margin-top: 60px;
  }
}

.employee-content {
  background: $color-select-active;
  border-radius: 5px;
  display: grid;
  grid-auto-rows: minmax(2em, auto);
  grid-column-gap: 1em;
  grid-row-gap: 0;
  grid-template-columns: 20% 25% 1fr;
  height: 6em;
  margin-top: 2em;
  padding: 15px;
}

.list-section1 {
  display: grid;
  grid-auto-rows: minmax(1em, auto);
  grid-column: 1;
  grid-column-gap: 7px;
  grid-row: 1;
  grid-row-gap: 8px;
  grid-template-columns: 40% 1fr;
  grid-template-rows: 26px 26px;
}

.employee-headshot-wrapper {
  border: 1px solid $color-text-dim3;
  border-radius: 50%;
  grid-column: 1;
  grid-row: 1/3;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.employee-name-wrapper {
  color: $color-text-primary;
  font-size: 1em;
  grid-column: 2;
  grid-row: 1;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.employee-designation-wrapper {
  font-size: 0.9em;
  grid-column: 2;
  grid-row: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-section2 {
  display: grid;
  grid-auto-rows: minmax(1em, auto);
  grid-column: 2;
  grid-row: 1;
  grid-row-gap: 8px;
  grid-template-columns: 1fr;
  grid-template-rows: 26px 26px;
}

.list-section2-title {
  color: $color-text-primary;
  font-size: 1em;
  grid-column: 1;
  grid-row: 1;
  margin-top: 10px;
}

.list-sction2-wrapper {
  font-size: 0.9em;
  grid-column: 1;
  grid-row: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-section2-item {
  margin-left: 5px;
}
