.container {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 11;
    overflow-y: auto;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex: 1 1 0%;
}

.modal{
  margin: auto;
  border: 1px solid rgb(187, 187, 187);
  padding: 5px;

  width: 480px;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 78px;
  background: rgb(31, 33, 41);
  border-radius: 4px;
  min-height: 27em;

}

.blur{
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
