@import 'src/scss/lib';

.backdrop {
  backdrop-filter: blur(3px) grayscale(0.8);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}

.container {
  align-items: center;
  bottom: 0;
  display: flex;
  flex: 1 1 0%;
  justify-content: center;
  left: 0;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 11;
}

.modal {
  align-items: center;
  background: $color-bg-secondary;
  border-radius: 4px;
  box-shadow: $color-shadowbox-shadow 0 4px 78px;
  display: flex;
  flex-direction: column;
  min-width: 480px;
  position: relative;
  width: auto;

  @media(max-width: $md) {
    min-width: 380px;
  }

}

.back-icon-container {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 26px;
  justify-content: center;
  position: absolute;
  right: 22px;
  top: 22px;
  width: 26px;
  z-index: 1;

  &:hover {
    background-color: $color-bg-secondary;
  }
}

.back-icon {
  color: $color-text-dim2;
  height: 23px;
  width: 23px;
}
