@import 'src/scss/lib';

.container {
  color: $color-text-dim2;
  display: flex;
  flex-direction: column;
  margin: 6em 0;

  @media(max-width: $sm) {
    margin: 3em 0;
  }
}

.add-icon {
  color: $color-text-dim2;
  height: 45px;
  margin: 0 auto;
  margin-bottom: 1em;
  width: 45px;
}

.add {
  color: $color-cta;
  margin-top: 1em;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.form {
  display: grid;
  font: inherit;
  grid-auto-rows: minmax(2em, auto);
  grid-column-gap: 15px;
  grid-row-gap: 2em;
  grid-template-columns: 25% 1fr;
  max-width: 90vw;
  padding: 15px;
  position: relative;
  width: 700px;

  @media(max-width: $sm) {
    flex-direction: column;
  }
}

.title-container {
  @extend %title-container;

  grid-column: 1/3;
}

.field-container {
  display: grid;
  grid-row-gap: 7px;
}

.name-container {
  grid-column: 1/3;
  position: relative;
}

.description-container {
  grid-column: 1/3;
  grid-row: 3;
  position: relative;
}

.square-logo {
  grid-column: 1;
  grid-row: 4/6;
  max-width: 10em;

  @media(max-width: $sm) {
    grid-column: 1/3;
  }
}

.issue-link-container {
  grid-column: 2;
  grid-row: 4;

  @media(max-width: $sm) {
    grid-column: 1/3;
    grid-row: 6;
  }
}

.pr-link-container {
  grid-column: 2;

  @media(max-width: $sm) {
    grid-column: 1/3;
    grid-row: 7;
  }
}

.org-container {
  grid-column: 1/3;
}

.field-title {
  @extend %handle-text-overflow;

  color: $color-text-dim2;
  height: 1.5em;
  text-align: left;
  width: 100%;
}

.save-button {
  @extend %save-button;

  grid-column: 1/3;
}

.saving-in {
  position: relative;

  span {
    @extend %working;
    position: absolute;
  }
}

.del-container {
  display: flex;
  padding: 15px;
}

.del-button {
  background: $color-error-bg;
  border: 1px solid $color-error-border;
  border-radius: 4px;
  color: $color-button-text;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 13px;
  height: 48px;
  outline: none;
  padding: 0 2em;
  transition: all 0.2s;
  width: 100%;
}

.add-team {
  flex-direction: row;
  grid-column: 1/3;
  justify-content: space-between;
  margin-bottom: 0;
  margin-top: 2em;
}

.team-container {
  grid-column: 1/3;
  margin-top: 2em;
}

.title {
  display: flex;
  flex-direction: column;
}

.add-button {
  $size: 28px;
  @extend %button-primary;

  align-items: center;
  display: flex;
  height: $size;
  justify-content: center;
  padding: 0;
  width: $size;

  .icon {
    height: 1.2em;
    width: 1.2em;
  }
}

.skeleton {
  .field-container,
  .button-container {
    @include bone;

    color: transparent;
    cursor: default;
    height: 48px;
  }

  .square-logo {
    height: 150px;
  }

  input,
  .field-title,
  .image-container,
  .org-add-form,
  .save-button {
    display: none;
  }
}
