@import 'src/scss/lib';

.back-icon {
  background: url('/assets/images/leftArrow.svg') 0 0 no-repeat;
  background-size: contain;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.login-form-container {
  @extend %animate;

  animation-name: undim-sliding-down;
  animation-delay: 0.6s;
  margin-top: 3em;

  // margin-bottom: 8em;
}

.login-form {
  @extend %shadowBox;

  font: inherit;
  width: 500px;
  max-width: 90vw;
  display: flex;
  position: relative;

  @media(max-width: $sm) {
    flex-direction: column;
  }

  &.has-error {
    background: $color-error-bg;
  }
}

.2-step-swiper {
  position: absolute;
  width: 200%;
  left: 0;
  display: flex;
  transition: all 100ms linear;

  &.step1 {
    left: 0;
  }

  &.step2 {
    left: -100%;
  }
}

.fields-container {
  position: relative;
  width: 100%;
  margin: 0 16px;
  overflow: hidden;
}

.email {
  width: 100%;
}

.password {
  display: flex;
  align-items: center;
  width: 100%;
}

.loginButton {
  padding: 0 4em;

  height: 48px;

  background: $color-button_cta-bg;
  border: none;
  border-radius: 4px;
  color: $color-button-text;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s;
  flex-shrink: 0;
  outline: none;
}

.forget-password-text{
  text-align: left;
  color: $color-text-dim2;
  padding: 10px;
  cursor: pointer;
}
