@import 'src/scss/lib';

.loginForm {
  @extend %shadowBox;

  font: inherit;
  width: 500px;
  max-width: 90vw;
  display: flex;

  @media(max-width: $sm) {
    flex-direction: column;
  }
}

.inputFieldContainer {
  flex-grow: 1;
  margin: 0 16px;
}

.input {
  background: none;
  border: none;
  font-weight: 400;
  color: $color-input-text;
  transition: all 0.2s;
  border-radius: 4px;
  outline: none;
  padding: 10px;
  width: 100%;

  height: 48px;

  @media(max-width: $sm) {
    border: 1px solid $color-boundary;
    padding: 6px;
    margin: 0 0 8px 0;
  }
}

@keyframes swipe-left {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

@keyframes swipe-right {
  0% {
    left: 100%;
  }

  100% {
    left: 0;
  }
}

.swipeLeft {
  animation: swipe-left 2000ms linear 0s 1 forwards;
  position: absolute;
  visibility: hidden;
}

.swipeRight{
  animation: swipe-right 2000ms linear 3s 1 forwards;
  position: absolute;
  left: 100%;
  visibility: hidden;
  top: 0;
}

.hiddenFieldAtRight {
  position: absolute;
  left: 100%;
  visibility: hidden;
  top:0;
}

.backToEmailField{
  display: flex;
}

.fieldsContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.formError {
  border: 1px solid $color-error-border;
}

.validationMessage{
  position: absolute;
  bottom: -16px;
  left: 25px;
}

.loginButton {
  padding: 0 4em;

  height: 48px;

  background: $color-button_cta-bg;
  border: none;
  border-radius: 4px;
  color: $color-button-text;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s;
  flex-shrink: 0;
  outline: none;
}

.arrowIconContainer {
  cursor: pointer;
  margin: 0 auto;
}

.arrowIcon {
  height: 100%;
  width: 100%;
}
