@import 'src/scss/lib';

.loginForm {
  @extend %shadowBox;

  font: inherit;
  width: 500px;
  max-width: 90vw;
  display: flex;

  @media(max-width: $sm) {
    flex-direction: column;
  }
}

.inputFieldContainer {
  flex-grow: 1;
  margin: 0 16px;
}

.input {
  background: none;
  border: none;
  font-weight: 400;
  color: $color-input-text;
  transition: all 0.2s;
  border-radius: 4px;
  outline: none;
  padding: 10px;
  width: 100%;

  height: 48px;

  @media(max-width: $sm) {
    border: 1px solid $color-boundary;
    padding: 6px;
    margin: 0 0 8px 0;
  }
}

.formError{
  border: 1px solid #dc3925;
}

.validationMessage{
  position: absolute;
  bottom: -16px;
  left: 25px;
}

.loginButton {
  padding: 0 4em;

  height: 48px;

  background: $color-button_cta-bg;
  border: none;
  border-radius: 4px;
  color: $color-button-text;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s;
  flex-shrink: 0;
  outline: none;
}
