@import 'src/scss/lib';

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.not-found-container {
  padding-top: 7em;
}

.add-button {
  $size: 28px;
  @extend %button-primary;

  align-items: center;
  display: flex;
  height: $size;
  justify-content: center;
  padding: 0;
  width: $size;

  .icon {
    height: 1.2em;
    width: 1.2em;
  }
}

// ---

.container {
  color: $color-text-dim2;
  display: flex;
  flex-direction: column;
  margin-top: 7em;
}

.add-icon {
  color: $color-text-dim2;
  height: 45px;
  margin: 0 auto;
  margin-bottom: 1em;
  width: 45px;
}

.add {
  color: $color-cta;
  margin-top: 1em;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.form {
  display: grid;
  font: inherit;
  grid-auto-rows: minmax(2em, auto);
  grid-column-gap: 15px;
  grid-row-gap: 2em;
  grid-template-columns: 25% 1fr;
  max-width: 90vw;
  padding: 15px;
  position: relative;
  width: 700px;

  @media(max-width: $sm) {
    flex-direction: column;
  }

  &.has-error {
    background: $color-error-bg;
  }
}

.title-container {
  @extend %title-container;

  grid-column: 1/3;
  grid-row: 1;
}

.field-container {
  display: grid;
  grid-row-gap: 7px;
}

.email-container {
  grid-column: 1/3;
  grid-row: 2;
  position: relative;
}

.name-container {
  grid-column: 1/3;
  grid-row: 3;
  position: relative;
}

.right-container {
  display: grid;
  grid-auto-rows: minmax(2em, auto);
  grid-column: 2;
  grid-column-gap: 15px;
  grid-row: 4;
  grid-row-gap: 2em;
  grid-template-columns: 1fr 1fr;
  height: 11em;
}

.ecode-container {
  grid-column: 1/3;
  grid-row: 1;
  position: relative;
}

.designation-container {
  grid-column: 1;
  grid-row: 2;
}

.org-container {
  grid-column: 2;
  grid-row: 2;
}

.field-title {
  color: $color-text-dim2;
  text-align: left;
}

.image-wrapper-logo {
  grid-column: 1;
  grid-row: 3;
}

.input-file {
  cursor: pointer;
  height: 100%;
  opacity: 0;
  width: 100%;
}

.save-button {
  background: $color-button-cta-bg;
  border: 0;
  border-radius: 4px;
  color: $color-button-text;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 14px;
  font-weight: 600;
  grid-column: 1;
  grid-row: 5;
  height: 48px;
  outline: none;
  padding: 0 4em;
  transition: all 0.2s;
}

.saving-in {
  position: relative;

  span {
    @extend %working;
    position: absolute;
  }
}
