@import 'src/scss/variables';

/////////////
// helpers //
/////////////

%animate {
  animation-duration: 1.5s;
  animation-delay: 0s;
  transition-timing-function: ease-out;
  animation-fill-mode: both;
}

@keyframes come-together {
  0% {
    opacity: 0;
    transform: translate(0px,0px);
    letter-spacing: 0.5vw;
  }
  100% {
    opacity: 1;
    transform: translate(0,0);
    letter-spacing: 0.3vw;
  }
  0% {
    opacity: 0;
    transform: translate(0px,0px);
    letter-spacing: 0.5vw;
  }
  100% {
    opacity: 1;
    transform: translate(0,0);
    letter-spacing: 0.3vw;
  }
}

@keyframes undim-sliding-down {
  0% {
    opacity: 0;
    transform: translate(0px,-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0,0);
  }
}

@keyframes spin {
  0% { transform:rotate(360deg); }
}

//////////
// page //
//////////

.container {
  max-width: 1024px;
  padding-top: 66px;
  margin: 0 auto;
  align-items: center;
  position: relative;
}

.header {
  display: flex;
  background-color: transparent;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  align-items: center;
  border-bottom: 1px solid transparent;
  z-index: 2;
  transition: border-bottom 150ms ease 0s, top 250ms ease 0s, background-color 300ms ease 0s;
  padding: 0 2em;

  nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    flex-shrink: 0;
    height: 66px;
    max-width: 1024px;
    margin: 0 auto;
  }

  .brand {
    font: inherit;
    color: $color-text-bright1;
    font-weight: bold;
    font-size: 1.4em;
    text-decoration: none;
  }

  .logo {
    width: 0.8em;
    margin: 0 4px;
  }
}

.content {
  margin-top: 7em;
  text-align: center;
  padding: 0 2em;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media(max-width: $md) {
    margin-top: 100px;
  }

  @media(max-width: $sm) {
    margin-top: 60px;
  }
}

.superLogo {
  animation: spin 20s linear infinite;
  animation-delay: 1.4s;

  width: 5em;
  margin-bottom: 0.5em;
}

.brandName {
  @extend %animate;
  animation-name: come-together;

  h4 {
    color: $color-cta;
    text-transform: uppercase;
    margin-bottom: 22px;
    line-height: 1.22em;
    font: inherit;
    font-size: 0.8rem;
    font-weight: normal;
  }
}

.hero {
  @extend %animate;
  animation-name: undim-sliding-down;
  color: $color-text-bright1;
  margin-bottom: 16px;

  h1 {
    max-width: 900px;
    font-size: 4.13rem;
    font-weight: 800;
    margin: 0 0 16px 0;
    line-height: 1.2;

    @media(max-width: $sm) {
      font-size: 2.8em;
    }
  }
}

.brief {
  @extend %animate;
  animation-name: undim-sliding-down;
  animation-delay: 0.4s;

  p {
    max-width: 720px;
    font-size: 1.6rem;
    color: $color-text-dim1;
    line-height: 1.5;

    @media(max-width: $sm) {
      font-size: 1.2rem;
    }
  }
}
