@import 'src/scss/lib';

.content {
  margin-top: 7em;
  text-align: center;
  padding: 0 2em;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media(max-width: $md) {
    margin-top: 100px;
  }

  @media(max-width: $sm) {
    margin-top: 60px;
  }
}

.superLogo {
  animation: spin 20s linear infinite;
  animation-delay: 1.4s;

  width: 5em;
  margin-bottom: 0.5em;
}

.brandName {
  @extend %animate;
  animation-name: come-together;

  h4 {
    color: $color-cta;
    text-transform: uppercase;
    margin-bottom: 22px;
    line-height: 1.22em;
    font: inherit;
    font-size: 0.8rem;
    font-weight: normal;
  }
}

.hero {
  @extend %animate;
  animation-name: undim-sliding-down;
  color: $color-text-bright1;
  margin-bottom: 16px;

  h1 {
    max-width: 900px;
    font-size: 4.13rem;
    font-weight: 800;
    margin: 0 0 16px 0;
    line-height: 1.2;

    @media(max-width: $sm) {
      font-size: 2.8em;
    }
  }
}

.brief {
  @extend %animate;
  animation-name: undim-sliding-down;
  animation-delay: 0.4s;

  p {
    max-width: 720px;
    font-size: 1.3rem;
    color: $color-text-dim1;
    line-height: 1.5;

    @media(max-width: $sm) {
      font-size: 1.2rem;
    }
  }
}
