@import 'src/scss/lib';

.container {
  color: $color-text-dim2;
  display: flex;
  flex-direction: column;
  margin: 6em 0;

  @media(max-width: $sm) {
    margin: 3em 0;
  }
}

.add-icon {
  color: $color-text-dim2;
  height: 45px;
  margin: 0 auto;
  margin-bottom: 1em;
  width: 45px;
}

.add {
  color: $color-cta;
  margin-top: 1em;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.form {
  display: grid;
  font: inherit;
  grid-auto-rows: minmax(2em, auto);
  grid-column-gap: 15px;
  grid-row-gap: 2em;
  grid-template-columns: 25% 1fr;
  max-width: 90vw;
  padding: 15px;
  position: relative;
  width: 700px;

  @media(max-width: $sm) {
    flex-direction: column;
  }

  &.has-error {
    background: $color-error-bg;
  }
}

.title-container {
  @extend %title-container;

  grid-column: 1/3;
  grid-row: 1;
}

.field-container {
  display: grid;
  grid-row-gap: 7px;
}

.email-container {
  grid-column: 1/3;
  grid-row: 2;
  position: relative;
}

.name-container {
  grid-column: 1/3;
  grid-row: 3;
  position: relative;
}

.logo {
  grid-column: 1;
  grid-row: 4/6;
  max-height: 11em;
  max-width: 10em;

  @media(max-width: $sm) {
    grid-column: 1/3;
  }
}

.ecode-container {
  grid-column: 2;
  grid-row: 4;
  position: relative;

  @media(max-width: $sm) {
    grid-column: 1/3;
    grid-row: 6;
  }
}

.designation-container {
  grid-column: 2;
  grid-row: 5;

  @media(max-width: $sm) {
    grid-column: 1/3;
    grid-row: 7;
  }
}

.org-container {
  grid-column: 1/3;
}

.field-title {
  color: $color-text-dim2;
  text-align: left;
}

.image-wrapper-logo {
  grid-column: 1;
  grid-row: 3;
}

.input-file {
  cursor: pointer;
  height: 100%;
  opacity: 0;
  width: 100%;
}

.save-button {
  @extend %save-button;

  grid-column: 1/3;

}

.saving-in {
  position: relative;

  span {
    @extend %working;
    position: absolute;
  }
}

.del-container {
  display: flex;
  padding: 15px;
}

.del-button {
  background: $color-error-bg;
  border: 1px solid $color-error-border;
  border-radius: 4px;
  color: $color-button-text;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 13px;
  height: 48px;
  outline: none;
  padding: 0 2em;
  transition: all 0.2s;
  width: 100%;
}

.skeleton {
  .field-container,
  .button-container {
    @include bone;

    color: transparent;
    cursor: default;
    height: 48px;
  }

  .logo {
    height: 150px;
  }

  .image-container,
  .field-title {
    visibility: hidden;
  }

  input,
  .field-title,
  .image-container,
  .org-add-form,
  .save-button,
  .select-field {
    display: none;
  }
}
