@import 'src/scss/lib';

.input-field-container {
  flex-grow: 1;
  position: relative;
  width: 100%;

  input {
    @extend .input;
  }
}

.login-form {
  flex-grow: 1;
  position: relative;
  width: 100%;

  input {
    @extend .input;
  }
}

.org-add-form {
  flex-grow: 1;
  position: relative;
  width: 100%;

  &.has-error {
    background: $color-error-bg;
  }

  input {
    @extend .input-org-form;
  }
}

.input {
  background: none;
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  color: $color-input-text;
  font-weight: 400;

  height: 48px;
  outline: none;
  padding: 10px;
  transition: all 0.2s;
  width: 100%;

  @media(max-width: $sm) {
    border: 1px solid $color-boundary;
    margin: 0 0 8px;
    padding: 6px;
  }
}

.input-org-form {
  background: none;
  border: 1px solid $color-button-border;
  border-radius: 4px;
  box-shadow: none;
  color: $color-input-text;
  font-weight: 400;
  height: 40px;
  outline: none;
  padding: 10px;
  transition: all 0.2s;
  width: 100%;

  @media(max-width: $sm) {
    border: 1px solid $color-boundary;
    margin: 0 0 8px;
    padding: 6px;
  }
}

.reset-form {
  @extend %shadowBox;
  box-shadow: 0 0 0 #00000040;
  width: 98%;

  &.has-error {
    background: $color-error-bg;
  }
}

.error-icon {
  $width: 20px;
  background: url('/assets/images/info-error.svg');
  background-size: $width;
  height: $width;

  position: absolute;
  right: 8px;
  top: calc(50% - 10px);
  width: $width;
}
