@import 'src/scss/lib';

.container {
  padding-bottom: 2em;
  width: 100%;

  @media(max-width: $md) {
    margin-top: 100px;
  }

  @media(max-width: $sm) {
    margin-top: 60px;
  }
}

%content {
  align-items: center;
  color: $color-text-bright1;
  display: flex;
  margin: 0.5em 5em;
  padding: 5px;
  text-align: left;
}

.content {
  @extend %content;

  &:hover .action {
    visibility: visible;
  }
}

.fallback-icon {
  $size: 24px;
  background: $color-cta;
  border-radius: 50%;
  color: $color-button-text-inverted;
  font-size: 10px;
  height: $size;
  width: $size;
}

.details {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 100%;
}

.title {
  color: $color-text-primary;
  cursor: pointer;
  font-size: 1.1em;
  overflow: hidden;
  padding-bottom: 3px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 60%;
}

.subtitle {
  color: $color-text-dim2;
  font-size: 10px;
  width: 25%;
}

.action {

  cursor: pointer;
  visibility: hidden;
}

.pagination-container {
  @extend %content;

  justify-content: space-between;
}

.pagination-button {
  background: $color-button-bg;
  border: 0;
  border-radius: 4px;
  color: $color-button-text;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 13px;
  height: 40px;
  outline: none;
  padding: 0 2em;
  transition: all 0.2s;

  &:disabled {
    color: $color-text-dim2;
    cursor: default;
  }
}

.skeleton {
  .organization-details {
    width: 100%;
  }

  .fallback-icon {
    @include bone;
    border-radius: 50%;
  }

  .title {
    @include bone;

    font-size: 13px;
    margin-bottom: 2px;
    width: 60%;
  }

  .subtitle {
    @include bone;
    width: 20%;
  }
}
