@import 'src/scss/lib';

.container {
  width: 100%;

  @media(max-width: $md) {
    margin-top: 100px;
  }

  @media(max-width: $sm) {
    margin-top: 60px;
  }
}

.content {
  align-items: center;
  color: $color-text-bright1;
  display: flex;
  margin: 0.5em auto;
  max-width: 1200px;
  padding: 5px;
  text-align: left;
}

.fallback-icon {
  $size: 24px;
  background: $color-cta;
  border-radius: 50%;
  color: $color-button-text-inverted;
  font-size: 10px;
  height: $size;
  width: $size;
}

.details {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 100%;
}

.title {
  color: $color-text-primary;
  cursor: pointer;
  font-size: 1.1em;
  overflow: hidden;
  padding-bottom: 3px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.subtitle {
  color: $color-text-dim2;
  font-size: 10px;
}

.skeleton {
  .organization-details {
    width: 100%;
  }

  .fallback-icon {
    @include bone;
    border-radius: 50%;
  }

  .title {
    @include bone;

    font-size: 13px;
    margin-bottom: 2px;
    width: 60%;
  }

  .subtitle {
    @include bone;
    width: 20%;
  }
}
