@import 'src/scss/lib';

.employee {
  margin-top: 48px;
  width: 100%;

  @media(max-width: $md) {
    margin-top: 100px;
  }

  @media(max-width: $sm) {
    margin-top: 60px;
  }
}

.container {
  color: $color-text-bright1;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 680px;
  text-align: left;
}

.content {
  align-items: center;
  display: flex;
  margin-top: 0.5em;
  padding: 5px;

  &:hover {
    background: $color-select-active;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
  }
}

.brand {
  $size: 24px;
  border: 1px solid $color-text-dim3;
  border-radius: 50%;
  height: $size;
  width: $size;
}

.default-brand {
  $size: 24px;
  @extend %button-primary;

  align-items: center;
  border-radius: 50%;
  display: flex;
  height: $size;
  justify-content: center;
  padding: 0;
  width: $size;

  .default-icon {
    font-size: 10px;
  }
}

.employee-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.name {
  color: $color-text-primary;
  font-size: 1.1em;
  overflow: hidden;
  padding-bottom: 3px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.count {
  color: $color-text-dim2;
  font-size: 10px;
}
