@import 'src/scss/lib';

.popup-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 20em;
  justify-content: center;
  padding: 10px;
}

.popup-info {
  align-items: center;
  color: $color-text-primary;
  display: flex;
  flex-direction: column;
}

.popup-icon {
  $size: 5em;

  color: $color-text-dim2;
  height: $size;
  margin-bottom: 1.5em;
  width: $size;
}

.popup-message {
  color: $color-text-dim2;
  margin-top: 0.5em;
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5em;
  width: 10em;
}

.other-button {
  background: $color-button-bg;
  border: 1px solid $color-button-border;
  border-radius: 4px;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  color: $color-text-primary;
  cursor: pointer;
  font-size: 13px;
  padding: 7px;
  width: 5em;
}

.continue-button {
  color: $color-text-dim2;
}
