@import 'src/scss/lib';

.popup-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 20em;
  justify-content: center;
  padding: 10px;
}

.popup-info {
  align-items: center;
  color: $color-text-dim2;
  display: flex;
  flex-direction: column;
}

.popup-icon {
  $size: 5em;

  color: $color-text-dim2;
  height: $size;
  width: $size;
}

.title-container {
  margin: 1.5em 0;
  margin-top: calc(1.5em - 6px);
}

.title {
  color: $color-text-primary;
  margin-bottom: 0.4em;
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
  width: 10em;
}

%modal-button {
  align-items: center;
  background: $color-button-bg;
  border: 1px solid $color-button-border;
  border-radius: 4px;
  color: $color-text-primary;
  cursor: pointer;
  display: flex;
  font-size: 13px;
  height: 35px;
  justify-content: center;
  outline: none;
  padding: 7px 2em;
  width: 5em;
}

.close {
  @extend %modal-button;

  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
}

.accept {
  @extend %modal-button;

  background: $color-button-cta-bg;
  border: 0;
  font-weight: 600;
}
