@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/inter/Inter-Regular.woff2') format('woff2'),
    url('/assets/fonts/inter/Inter-Regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/inter/Inter-Medium.woff2') format('woff2'),
    url('/assets/fonts/inter/Inter-Medium.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/inter/Inter-SemiBold.woff2') format('woff2'),
    url('/assets/fonts/inter/Inter-SemiBold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/inter/Inter-Bold.woff2') format('woff2'),
    url('/assets/fonts/inter/Inter-Bold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url('/assets/fonts/inter/Inter-ExtraBold.woff2') format('woff2'),
    url('/assets/fonts/inter/Inter-ExtraBold.woff') format('woff');
}
