%form-input {
  background: $color-input-bg;
  border: 1px solid $color-input-border;
  border-radius: 4px;
  box-shadow: none;
  color: $color-input-text;
  font-weight: 400;
  height: 40px;
  outline: none;
  padding: 10px;
  transition: all 0.2s;
  width: 100%;

  &:focus {
    box-shadow: 0 0 2px 2px $color-input-border;
  }

  @media(max-width: $sm) {
    border: 1px solid $color-boundary;
    margin: 0 0 8px;
    padding: 6px;
  }
}

%button {
  background: $color-button-bg;
  border: 1px solid $color-button-border;
  border-radius: 4px;
  box-shadow: 1px 2px 0 $color-shadowbox-shadow;
  color: $color-button-text;
  cursor: pointer;
  padding: 0.5em;
  user-select: none;
}

%button-primary {
  @extend %button;

  background: $color-cta;
  color: $color-button-text-inverted;
}

%clear-field-container {
  flex-grow: 1;
  position: relative;
  width: 100%;

  &.has-error {
    background: $color-error-bg;

    input {
      background: $color-error-bg;
    }
  }

  input {
    @extend %form-input;
  }
}

%save-button {
  align-items: center;
  background: $color-button-cta-bg;
  border: 0;
  border-radius: 4px;
  color: $color-button-text;
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  font-size: 14px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  outline: none;
  padding: 0 4em;
  transition: all 0.2s;
}


%title-container {
  border-bottom: 1px solid $color-boundary;
  color: $color-text-primary;
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  padding-bottom: 2em;
  text-align: left;

  .sub-title {
    color: $color-text-dim1;
    font-size: 13px;
    margin-top: 8px;
  }
}
