%animate {
  animation-delay: 0s;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  transition-timing-function: ease-out;
}

%shadow-box {
  background-color: $color-shadowbox-bg;
  border: 1px solid $color-shadowbox-border;
  border-radius: 4px;
  box-shadow: 11px 4px 24px $color-shadowbox-shadow;
  padding: 6px;
  transition: all 0.3s;

  &:hover {
    background-color: $color-shadowbox-bg--hover;
  }
}
