%animate {
  animation-delay: 0s;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  transition-timing-function: ease-out;
}

%shadow-box {
  background-color: $color-shadowbox-bg;
  border: 1px solid $color-shadowbox-border;
  border-radius: 4px;
  box-shadow: 11px 4px 24px $color-shadowbox-shadow;
  padding: 6px;
  transition: all 0.3s;

  &:hover {
    background-color: $color-shadowbox-bg--hover;
  }
}

%error-icon-outer {
  $size: 20px;
  color: $color-error-border;
  height: $size;

  position: absolute;
  right: 8px;
  width: $size;
  z-index: 1;
}

@mixin bone {
  background-color: $color-text-dim3;
  border-radius: 4px;
  color: transparent;
  overflow: hidden;
  position: relative;

  &::after {
    animation: conveyer-belt 1.5s infinite;
    background: linear-gradient(90deg, transparent, $color-text-dim2, transparent);
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(-100%);
  }
}

%handle-text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
