$color-bg-dark: #1f2023;
$color-bg-primary: #16161a;
$color-bg-secondary: #27282b;

$color-boundary: #303236;

$color-text-bright1: #f7f8f8;
$color-text-primary: #d7d8db;
$color-text-dim1: #95a2b3;
$color-text-dim2: #8a8f98;
$color-text-dim3: #62666d;

$color-online: #4cb782;

$color-button-bg: #303236;
$color-button-border: #3c3f44;
$color-button-text: #fff;
$color-button-text-inverted: #1f2023;
$color-button-cta-bg: linear-gradient(102deg, #b55145 9.16%, #cc4356 32.02%, #d73f54 64.72%);

$color-cta: #d26a5e;

$color-input-text: #fff;
$color-input-border: $color-button-border;
$color-input-bg: $color-bg-dark;

$color-shadowbox-bg: #3438444a;
$color-shadowbox-bg--hover: #34384496;
$color-shadowbox-shadow: #00000040;
$color-shadowbox-border: #ffffff08;

$color-error-border: #dc3925;
$color-error-bg: #b1363615;

$color-success-border: #39dc25;

$color-select-active: #37373c;

$color-flash-border: $color-button-border;
$color-flash-bg: $color-bg-secondary;

$xs: 360px;
$sm: 420px;
$md: 770px;
